# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Build outputs
dist/
build/
build_nuitka/

# Editor/OS noise
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Jupyter
.ipynb_checkpoints/
